doctype html
html(lang="en")
  head
    title Profile Re-activation
  body
    #email
      h1.grey In B4 
        span.darker-blue Us
      hr
      h2 Profile Almost Updated!
      p To re-activate your account, click 
        a(href="#{activateUrl}") here.
      hr