doctype html
html(lang="en")
  head
    title Lost Password
  body
    #email
      h1.grey In B4 
        span.darker-blue Us
      hr
      h2 Forgot Your Password?
      h5 That's ok!
      p To reset it, click 
        a(href="#{resetUrl}") here.
      hr