<div ng-class="{'ui': true, 'blue': true, 'menu': true, 'secondary': true, 'pointing': true}" ng-controller="NavbarCtrl">
  <a ng-class="{'active': isActive(item.link), 'item': true}" ng-href="{{item.link}}" ng-repeat="item in menu">
    <i ng-class="{'{{item.icon}}': true, 'icon': true}"></i> {{item.title}}
  </a>
  <a class="ui item right" ng-click="openModal()" ng-show="!username">
    <div class="ui primary button">Log-in/Register</div>
  </a>
  <a class="ui item right" ng-click="logout()" ng-show="username">
    <div class="ui red button">Logout</div>
  </a>
</div>