/*
 * lightGrey = #9d9d9d
 * grey = #848484
 * lightblue = #367b9f
 * darkerblue = #2a5d78
 * darkblue = #1d4051
 */
body {
    background-color: #F3F3F3;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 75px 25px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.hero-unit-center {
    position: relative;
    padding: 75px 25px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;   /* Height of the footer */
    text-align: center;
    background-color: transparent;
}