<div ng-include="'components/navbar/navbar.html'"></div>
<div class="ui page grid">
  <div class="ui grid">
    <div class="ui one column grid">
      <div class="column">
        <div class="ui fluid form segment" ng-class="{'error': error}">
        <h2 class="ui dividing header">Reset Password</h2>
        <form class="ui form" ng-submit="reset()" ng-class="{'loading': submitting}">
          <div class="ui input field required" ng-class="{'error': error}">
            <label for="newPass">New Password</label>
            <input type="password" id="newPass" ng-model="newPass" tabindex="10" autofocus required>
          </div>
          <div class="ui input field required" ng-class="{'error': error}">
            <label for="confirm">Confirm New Password</label>
            <input type="password" id="confirm" ng-model="confirm" tabindex="15" required>
          </div>
          <div class="field">
            <button type="submit" class="ui blue button" ng-class="{'loading': submitting}" tabindex="20">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>